.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: rgb(171, 206, 197);
  margin: 0;
  /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
}

.header-container {
  display: flex;
  color: white;
  background: black;
  justify-content: space-between;
  height: 70px;
}

.container-item {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.nav-options {
  justify-content: flex-end;
  flex: 0 1 30%;
}

.nav-options ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
}

main {
  display: flex;
  flex: 1 0 auto;
}

.login,
.signup {
  /* Need to figure out the height of this */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  /* flex:1 0 auto */
}

.form-title {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 1rem;
}

.create-form {
  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 50%; */
  height: 200px;
  width: 18%;
  align-items: center;
  justify-content: space-evenly;
  border: solid;
}

.footer-container {
  /* margin-top: auto; */
  flex-shrink: 0;
}

/* .footer-container{
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
*/

.footer-info {
  display: flex;
}

.about-us,
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 0 1 50%; */
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(29, 65, 247);
  padding: 0 1rem;
}

.about-us {
  width: 30%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(144, 145, 143);
  height: 25px;
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav-list-links a {
  /* Link is viewed as container */
  text-decoration: none;
  color: rgb(255, 255, 255);
}
